<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @blog, url: event_blogs_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :photo %>
  <%= form.hidden_field :photo_cache %>
  <%= form.hidden_field :event_id %>
  <p>タイトル:<%= @blog.title %></p>
  <p>内容:<%= @blog.content %></p>

  <%= image_tag(@blog.photo.url) if @blog.photo && @blog.photo.url %>

  <%= form.submit  "登録する" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>
