<h1><%= @name %>のブログ一覧</h1>

<%= search_form_for @q, url: search_event_blogs_path do |f| %>
  <%= f.search_field :title_or_content_cont, placeholder: '内容' %>
  <%= f.search_field :user_name_cont, placeholder: '作者' %>
  <br>
  <%= f.submit '検索' %>
<% end %>

<% @blogs.each do |blog| %>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <%= link_to image_tag(blog.photo.url),event_blog_path(blog.event.id, blog.id) %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= blog.title %></h5>
        <p class="card-text"><%=blog.content%></p>
        <p class="card-text"><%= link_to blog.user.name,user_path(blog.user)%><small class="text-muted">  <%=blog.created_at.strftime('%Y/%m/%d') %></small></p>
      </div>
    </div>
  </div>
</div>
<% end %>
