<h1><%= @name %>のブログ一覧</h1>

<%= search_form_for @q, url: search_event_blogs_path do |f| %>
  <%= f.search_field :title_or_content_cont, placeholder: '内容' %>
  <%= f.search_field :user_name_cont, placeholder: '作者' %>
  <br>
  <%= f.submit '検索' %>
<% end %>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>作者</th>
    <th>写真</th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.title %></td>
    <td><%= blog.content %></td>
    <td><%= link_to blog.user.name,user_path(blog.user)%></td>
    <td><%= link_to image_tag(blog.photo.url),event_blog_path(blog.event.id, blog.id) %></td>
  </tr>
<% end %>
</table>
