<h1><%= @name %>のブログ一覧</h1>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>作者</th>
    <th>写真</th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.title %></td>
    <td><%= blog.content %></td>
    <td><%= link_to blog.user.name,user_path(blog.user)%></td>
    <td><%= link_to image_tag(blog.photo.url),event_blog_path(blog.event.id, blog.id) %></td>
  </tr>
<% end %>
</table>
