<% if params[:id].nil? || @user.id == current_user.id %>
  <h1>ようこそ<%= current_user.name %>さん</h1>
  <p>名前：<%= current_user.name %></p>
  <p>登録email：<%= current_user.email %></p>
  <p>アイコン：<%= image_tag current_user.icon.url %></p><br>

  <%= link_to 'お気に入り一覧', favorites_path %><br>
  <%= link_to "アカウントを編集", edit_user_registration_path %><br>


<h1><%= current_user.name %>さんのイベント一覧</h1>

  <div class="container">
    <div class="row">
      <% @user.events.each do |event| %>
        <div class="col-md-4">
          <div class="card">
            <%= link_to image_tag(event.image.url, class: "card-img-top"), event_path(event.id) %>
            <div class="card-body text-center">
              <h4 class="card-title"><%=event.name %></h4>
              <p class="card-text"><%=event.detail %></p>
              <p class="card-text"><%=event.day %></p>
              <%= link_to "確認",event_path(event.id) %>
              <%= link_to "編集", edit_event_path(event.id) %>
              <%= link_to '削除', event_path(event.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>


<h1><%= current_user.name %>さんのブログ一覧</h1>
  <table>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>写真</th>
    </tr>

  <% @user.blogs.each do |blog| %>
    <tr>
      <td><%= blog.title %></td>
      <td><%= blog.content %></td>
      <td><%= image_tag(blog.photo.url) %></td>
      <td><%= link_to "内容を確認する",event_blog_path(blog.event.id, blog.id) %></td>
      <td><%= link_to "ブログを編集する", edit_event_blog_path(blog.event.id,blog.id) %></td>
      <td><%= link_to 'ブログを削除する', event_blog_path(blog.event.id,blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
    </tr>
  <% end %>
  </table>


<% else %>
  <h2>ここは<%= @user.name %>さんのページです</h2>
  <p>名前：<%= @user.name %></p>
  <p>アイコン：<%= image_tag @user.icon.url %></p>

  <p>
<%= mail_to @user.email, "#{@user.name}さんに問い合わせをする", :encode => 'hex' %>
</p>
  <h1><%= @user.name %>さんのイベント一覧</h1>
  <div class="container">
    <div class="row">
      <% @user.events.each do |event| %>
        <div class="col-md-4">
          <div class="card">
            <%= link_to image_tag(event.image.url, class: "card-img-top"), event_path(event.id) %>
            <div class="card-body text-center">
              <h4 class="card-title"><%=event.name %></h4>
              <p class="card-text"><%=event.detail %></p>
              <p class="card-text"><%=event.day %></p>
              <%= link_to "確認",event_path(event.id) %>
              <%= link_to "編集", edit_event_path(event.id) %>
              <%= link_to '削除', event_path(event.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>

  <h1><%= @user.name %>さんのブログ一覧</h1>
    <table>
      <tr>
        <th>タイトル</th>
        <th>内容</th>
        <th>写真</th>
      </tr>

    <% @user.blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= link_to image_tag(blog.photo.url),event_blog_path(blog.event.id, blog.id) %></td>
      </tr>
    <% end %>
    </table>
<% end %><br>
