<div class="text-center">
  <h3>以下の内容で、送信する。</h3>
</div>
<%= form_with(model: @event, url: events_path, local: true) do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :detail %>
  <%= form.hidden_field :address %>
  <%= form.hidden_field :crop %>
  <%= form.hidden_field :remork %>
  <%= form.hidden_field :planting %>
  <%= form.hidden_field :harvest %>
  <%= form.hidden_field :day %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :latitude %>
  <%= form.hidden_field :longitude %>
  <% @event.tag_ids.each do |tag_ids| %>
    <%= form.hidden_field :tag_ids, multiple: true, value: tag_ids %>
  <% end %>

  <div class="main">

  <p>名前:<%= @event.name %></p>
  <p>開催日:<%= @event.day %></p>
  <p>住所:<%= @event.address %></p>
  <p>詳細:<%= @event.detail %></p>
  <p>植え付け月:<%= @event.planting %></p>
  <p>収穫月:<%= @event.harvest %></p>
  <p>作物:<%= @event.crop %></p>
  <p>その他:<% @event.tags.each do |tag| %>
                <%= tag.name %>
              <% end %></p>
  <p>備考:<%= @event.remork %></p>
  </div>
  <div class="text-center">
  <%= image_tag(@event.image.url) if @event.image && @event.image.url %>
  </div>
  <div class="text-center">
  <%= form.submit  "登録する" %>
  <%= form.submit "戻る", name: 'back' %>
  </div>
<% end %>
