<h1>イベント一覧</h1>


<%= search_form_for @q do |f| %>
  <%= f.search_field :detail_or_remork_or_name_or_address_or_crop_cont, placeholder: '内容'%>
  <%= f.search_field :user_name_cont, placeholder: '開催者'%>
  <%= f.select :planting_eq, [['１月', 1], ['２月', 2], ['３月', 3],['４月',4], ['５月', 5], ['６月', 6],['７月', 7], ['８月', 8],  ['９月', 9], ['１０月', 10],['１１月', 11], ['１２月', 12], ['未定', 13]],{include_blank: '植え付け'} %>
  <%= f.select :harvest_eq, [['１月', 1], ['２月', 2], ['３月', 3],['４月',4], ['５月', 5], ['６月', 6],['７月', 7], ['８月', 8],  ['９月', 9], ['１０月', 10],['１１月', 11], ['１２月', 12], ['未定', 13]],{include_blank: '収穫'} %>
  <%= f.date_field :day_gteq%>
   <span>~</span>
  <%= f.date_field :day_lteq%><br>
  <% Tag.all.each do |tag| %>
    <%= f.check_box :tags_id_eq_any, { multiple: true, checked: tag[:checked], disabled: tag[:disabled], include_hidden: false }, tag[:id] %>
    <%= tag.name %>
  <% end %>
  <%= f.submit '検索' %>
<% end %>

<div class="container">
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-md-4">
        <div class="card">
          <%= link_to image_tag(event.image.url, class: "card-img-top"), event_path(event.id) %>
          <div class="card-body text-center">
            <h4 class="card-title"><%=event.name %></h4>
            <p class="card-text"><%=event.detail %></p>
            <p class="card-text">開催者：<%= link_to event.user.name,user_path(event.user)%></p>
            <p class="card-text"><%=event.day %></p>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>


<%= link_to '新しくイベントを登録する', new_event_path %>
