<h1>イベント一覧</h1>


<%= search_form_for @q do |f| %>
  <%= f.search_field :name_cont, placeholder: 'イベント名'%>
  <%= f.search_field :detail_or_remork_cont, placeholder: '内容'%>
  <%= f.search_field :address_cont, placeholder: '住所'%>
  <%= f.search_field :crop_cont, placeholder: '作物'%>
  <%= f.search_field :name_cont, placeholder: '開催者'%>
  <%= f.select :planting_eq, [['１月', 1], ['２月', 2], ['３月', 3],['４月',4], ['５月', 5], ['６月', 6],['７月', 7], ['８月', 8],  ['９月', 9], ['１０月', 10],['１１月', 11], ['１２月', 12], ['未定', 13]],{include_blank: '植え付け'} %>
  <%= f.select :harvest_eq, [['１月', 1], ['２月', 2], ['３月', 3],['４月',4], ['５月', 5], ['６月', 6],['７月', 7], ['８月', 8],  ['９月', 9], ['１０月', 10],['１１月', 11], ['１２月', 12], ['未定', 13]],{include_blank: '収穫'} %>
  <%= f.date_field :day_gteq%>
   <span>~</span>
  <%= f.date_field :day_lteq%>
   <br>
  <%= f.submit '検索' %>
<% end %>

<table>
  <tr>
    <th>名前</th>
    <th>詳細</th>
    <th>開催者</th>
    <th>開催日</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.detail %></td>
    <td><%= link_to event.user.name,user_path(event.user)%></td>
    <td><%= event.day %></td>
    <td><%= link_to image_tag(event.image.url),event_path(event.id) %></td>
<!--後で移動
    <td><%= link_to "イベントを編集する", edit_event_path(event.id) %></td>
    <td><%= link_to 'イベントを削除する', event_path(event.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td> -->
  </tr>
<% end %>
</table>

<%= link_to '新しくイベントを登録する', new_event_path %>
