<h1>イベント内容画面</h1>

<% unless @event.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(event_id: @event.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<%= link_to '新しくブログを登録する', new_blog_path %>

<p>名前:<%= @event.name %></p>
<p>開催日:<%= @event.day %></p>
<p>住所:<%= @event.address %></p>
<p>詳細:<%= @event.detail %></p>
<p>植え付け月:<%= @event.planting %></p>
<p>収穫月:<%= @event.harvest %></p>
<p>作物:<%= @event.crop %></p>
<p>その他:<% @event.tags.each do |tag| %>
              <%= tag.name %>
            <% end %></p>
<p>備考:<%= @event.remork %></p>
<p>開催者:<%= @event.user.name %></p>
<p>イメージ: <%= image_tag @event.image.url %></p>


<%= link_to "一覧画面にもどる", events_path %>


<script type="text/javascript">
     function initMap() {
       var test = {lat: <%= @event.latitude %>, lng: <%= @event.longitude %>};
       var map = new google.maps.Map(document.getElementById('map'), {
                 zoom: 15,
                 center: test
                 });
       var transitLayer = new google.maps.TransitLayer();
       transitLayer.setMap(map);
       var contentString = '住所：<%= @event.address %>';
       var infowindow = new google.maps.InfoWindow({
         content: contentString
       });
       var marker = new google.maps.Marker({
                     position:test,
                     map: map,
                     title: contentString
                   });
       marker.addListener('click', function() {
         infowindow.open(map, marker);
       });
     }
   </script>
   <script async defer
              src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
   </script>
   <style type="text/css">
     #map { height: 200px;
           width: 70%;}
   </style>
   <div id="map"></div>
